# Env file for the project
export PATH=$PWD/bin:$PATH
# Override any other default bashrc setting
export ANS_X_PROJECT_DIR=$PWD
export ANSIBLE_HOME=$HOME/.ansible
# Kube Config
export KUBECONFIG=~/.kube/config
# KUBE_X env
export KUBE_X_CLUSTER_API_SERVER_01_IP=78.46.190.50
export KUBE_X_CLUSTER_API_SERVER_01_NAME=kube-test-server-01
export KUBE_X_CLUSTER_SERVER_USER=root
export KUBE_X_CLUSTER_APEX_DOMAIN=gerardnico.com
export KUBE_X_CLUSTER_NAME=kube-test
export KUBE_X_CLUSTER_K3S_VERSION=v1.31.2+k3s1
export KUBE_X_CLUSTER_TOKEN=jbHWvQv9261KblczY7BX+OLcnZGrMSe+0UiFS3h7Ozc= # To generate a token: `openssl rand -base64 32 | tr -d '\n'`
